spring:
  r2dbc:
    url: r2dbc:postgresql://0.0.0.0:5432/test_db?schema=schema_sit
    username: usr
    password: pass
    pool:
      enabled: true
      initialSize: 5
      maxSize: 10
      validationQuery: SELECT 1
à¹ˆjwt:
  secret: jfnkasdfkn77812bh23821i89j
  expiration: 3600000
logging.level:
  org.springframework.r2dbc: DEBUG

